name: Create Pull Request for Hotfix
run-name: ${{ github.actor }} is doing create automation pull request
on:
  push:
    branches:
      - 'hotfix/*'  # This pattern matches branches with 'hotfix/' prefix
jobs:
  create_pull_request:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Setup NodeJS
      uses: actions/setup-node@v3
      with:
          node-version: '14'
    - uses: webfactory/ssh-agent@v0.7.0
      with:
          ssh-private-key: ${{ secrets.SSH_Automatic_Backup }}
    - name: Create Pull Request
      env:
        GH_TOKEN: ${{ env.token }}
      run: |
        if [ "${{ github.event_name }}" == "push" ]; then
          branch_name=$(echo "${{ github.ref }}" | awk -F'/' '{print $3}')
          echo "Creating a pull request for branch $branch_name..."
          
          pr_title="Automated Pull Request for $branch_name to dev_production"
          pr_body="This pull request was automatically created when branch $branch_name was pushed."
          gh pr create --base dev_production --head "$branch_name" --title "$pr_title" --body "$pr_body"
        fi
