name: Create Pull Request for Hotfix
run-name: ${{ github.actor }} is doing create automation pull request
on:
  push:
    branches:
      - 'hotfix/**'  # This pattern matches branches with 'hotfix/' prefix
jobs:
  create_pull_request:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Setup NodeJS
      uses: actions/setup-node@v3
      with:
          node-version: '14'
    - uses: webfactory/ssh-agent@v0.7.0
      with:
          ssh-private-key: ${{ secrets.SSH_Automatic_Backup }}
    - name: Create Pull Request
      env:
        GH_TOKEN: ${{ secrets.TOKEN }}
      run: |
        git fetch origin dev_staging:dev_staging
        if [ "${{ github.event_name }}" == "push" ]; then
          branch_name=$(echo "${{ github.ref }}" | sed 's/refs\/heads\///')
          current_datetime=$(date +"%Y%m%d %H:%M")
          echo "Creating a pull request for branch $branch_name..."
          pr_title="Automated Pull Request for $branch_name - $current_datetime"
          pr_body="This pull request was automatically created when branch $branch_name was pushed.<h3>List of changes:</h3>"
          # Loop through commit messages
          IFS=$'\n'
          for commit_message in $(git log --pretty=format:'\n%h %s (%an)' dev_staging..$branch_name); do
            pr_body="$pr_body<br/>$commit_message"
          done
          gh pr create --base dev_production --head "$branch_name" --title "$pr_title" --body "$pr_body"
        fi
